DESCRIPTION: Solve a three-variable simultaneous equation with numpy linear algebra.

In [55]:
import sympy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 3-variable simultaneous equation
Here are two online 3-variable simultaneous equations. Let's solve them with Linear Algebra:

$2x+5y+2z=−38$

$3x−2y+4z=17$

$−6x+y−7z=−12$

In [86]:
# First, convert it to matrix notation: A X = Y
A = [[2, 5, 2],
     [3, -2, 4],
     [-6, 1, -7]]
Y = [-38, 17, -12]
# Two methods to print it:
print(A)
print(Y)
pd.DataFrame(A)

[[2, 5, 2], [3, -2, 4], [-6, 1, -7]]
[-38, 17, -12]

   0  1  2
0  2  5  2
1  3 -2  4
2 -6  1 -7

In [87]:
A = sympy.Matrix(A)
A

Matrix([
[ 2,  5,  2],
[ 3, -2,  4],
[-6,  1, -7]])

In [88]:
Y = sympy.Matrix(Y)
Y

Matrix([
[-38],
[ 17],
[-12]])

In [89]:
InvA = A.inv()
InvA

Matrix([
[-10/13, -37/13, -24/13],
[  3/13,   2/13,   2/13],
[  9/13,  32/13,  19/13]])

In [90]:
InvA * Y

Matrix([
[ 3],
[-8],
[-2]])

In [ ]:
# Now with numpy

In [92]:
A = [[2, 5, 2],
     [3, -2, 4],
     [-6, 1, -7]]
Y = [-38, 17, -12]

Solve $A X = Y$ for X as:

$X = A^{-1} Y$

In [96]:
InvA = np.linalg.inv(A)
X = InvA.dot(Y)
X

array([ 3., -8., -2.])